rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /notifications/{doc} {
      allow read: if request.auth != null && request.auth.uid == resource.data.user_id;
      allow write: if false;
    }
    match /claims/{doc} {
      allow read: if request.auth != null;
      allow write: if false;
    }
    match /found_items/{doc} {
      allow read: if true;
      allow write: if false;
    }
    match /{document=**} {
      allow read: if false;
      allow write: if false;
    }
  }
}
